<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | SpGroupApp</title>
</head>
<body>


<div class="center jumbotron">
  <h1>Welcome to the SP Group App</h1>

  <h2>
    <!--This is the home page for the-->
    <!--<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>-->
    <!--sample application.-->

    This is the home page for the the SP Group Application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("sp.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

</body>
</html>