<footer class="footer">
  <small>
    The SP Group Application</a>
    by Pink@
  </small>
  <nav>
    <ul>
    The <a href="http://www.spgroup.cp.il/">Sp Group</a> App
    by Pink@</a>
    </ul>
  </nav>
  </small>
  <nav>
    <ul>
      <!--<li><%= link_to "Home",   root_path %></li>-->
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>